<footer class="footer is-centered is-primary">
	<div class="container">
		{{#is "home"}}
		<div class="columns">

			<div class="column is-4 is-offset-6">
				<h2 class="subtitle">{{@blog.description}}</h2>
			</div>
		</div>
		{{else}}

		<div class="columns">

			<div class="column is-4 is-offset-8">
				<h2 class="subtitle">{{@blog.description}}</h2>
			</div>
		</div>

		{{/is}}
		 
		
	</div>		
</footer>	