<!-- header hbs -->

{{#is "home"}}

{{else}}
	<header id="header" class="hero is-bold">
 

		<div class="hero-body">
			<div class="container">
				<div class="is-mobile">
					
					<nav class="navbar is-white">
						<div class="navbar-brand">
							<h1 class="title">
								<a href="{{@blog.url}}" title="{{@blog.title}}">{{@blog.title}}</a>
							</h1>
							<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
							      <span aria-hidden="true"></span>
							      <span aria-hidden="true"></span>
							      <span aria-hidden="true"></span>
							</a>
						</div>
						
						
						{{navigation}}
						
					</nav>
					
				</div>
			</div>
		</div>
	</header><!-- /header -->

{{/is}}