<ul class="nav navbar-menu" role="menu" id="navMenu">
    <div class="navbar-start">
    	
    </div>

    {{#is "home"}}
    
    {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}} navbar-item" role="menuitem">
    	<a href="{{url absolute="true"}}">{{label}}</a>
    </li>
    {{/foreach}}
    
    {{else}}
    <div class="navbar-end">
    	{{#foreach navigation}}
    	<li class="nav-{{slug}}{{#if current}} nav-current{{/if}} navbar-item" role="menuitem">
    		<a href="{{url absolute="true"}}">{{label}}</a>
    	</li>
    	{{/foreach}}
    </div>
    {{/is}}

</ul>