<nav class="pagination is-medium" role="navigation" aria-label="navigation">
	{{#if prev}}
		<a href="{{page_url prev}}" class="pagination-next" title="Newer posts">Newer Posts</a>
	{{/if}}

	<span class="pagination-link is-current">Page {{page}} of {{pages}}</span>

	{{#if next}}
	<a href="{{page_url next}}" class="pagination-previous" title="Older posts">Older Posts</a>
	{{/if}}

</nav>	