<article class="card">

		{{#if feature_image}}
		<div class="card-image">
			<figure class="image is-4by3">
				
				<img src="{{feature_image}}" alt="">
			</figure>
		</div>
		{{/if}}
	<div class="card-content">
		{{#if primary_author.profile_image}}
		<div class="media">
			<div class="media-left">
				<figure class="image is-48x48">
					<img src="{{primary_author.profile_image}}" alt="Profile">
					
				</figure>
			</div>	
		</div>
		{{/if}}
		<a href="{{url}}" class="title is-4">{{title}}</a>
		<div class="content">
			<p>{{#if meta_description}}
					{{meta_description}}
				{{else}}
					{{excerpt words="40"}}...
				{{/if}}
			</p>
			<p>
				{{authors}} in  {{tags}} on
				<time>{{date}}</time>
			</p>
		</div>
	</div>
	
</article>