<!DOCTYPE html>
<html>
<head>
	{{! Page Meta}}
	<title>{{meta_title}}</title>
	

	{{! Document Settings }}
	    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	 
    {{! Responsive Meta Tags }}
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles}}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans:400,400i,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    {{! Scripts}}
    <script src="/assets/js/local.js" type="text/javascript" charset="utf-8" async defer></script>

    {{ghost_head}}
</head>
<body class="{{body_class}}">
<!-- header -->

{{> header }}

<!-- body -->

{{{body}}}




<!-- footer -->
{{> footer}}

{{ghost_foot}}
</body>
</html>