{{!< default}}
<!--  home hbs  -->

<header id="header" class="hero is-bold is-fullheight">
	<div class="hero-head">
		<div class="container">
			
			<div class="columns is-mobile">
				<div id="titleCard" class="column is-8 is-offset-2 has-text-centered">
					<h1 class="title is-size-1"><a href="{{@blog.url}}" title="{{@blog.title}}">{{@blog.title}}</a></h1>
					<hr>
					<nav class="tabs">
						<div class="main-menu level">
							{{navigation}}
						</div>
					</nav>
				</div>
					
			</div>
			
		</div>
	</div>
</header><!-- /header -->
	