<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<h1>Activation successful with errors</h1>
<div>
  <ul>
    <li>
      <p>mountain-man activated successfully but some warnings/errors were detected. You are still able to use and activate the theme. Here is your report...</p>
    </li>
    <div>
      <h2>Errors</h2>
      <p><em>(Very recommended to fix, functionality could be restricted)</em></p>
    </div>
    <li><a href="http://localhost:2368/ghost/" data-ember-action="" data-ember-action-1236="1236">
      <h4>The .kg-width-wide CSS class is required to use your theme with 2.0</h4>
      <div></div>
      </a>
      <p>The .kg-width-wide CSS class is required to use your theme with 2.0. Find out more about required theme changes for the Koenig editor <a href="https://themes.ghost.org/docs/ghost-editor" target="_blank">here</a>.</p>
      <div>
        <h6>Affected files:</h6>
        <ul>
          <li>styles</li>
        </ul>
      </div>
    </li>
    <li><a href="http://localhost:2368/ghost/" data-ember-action="" data-ember-action-1239="1239">
      <h4>The .kg-width-full CSS class is required to use your theme with 2.0</h4>
      <div></div>
      </a>
      <p>The .kg-width-full CSS class is required to use your theme with 2.0. Find out more about required theme changes for the Koenig editor <a href="https://themes.ghost.org/docs/ghost-editor" target="_blank">here</a>.</p>
      <div>
        <h6>Affected files:</h6>
        <ul>
          <li>styles</li>
        </ul>
      </div>
    </li>
    <li><a href="http://localhost:2368/ghost/" data-ember-action="" data-ember-action-1242="1242">
      <h4>The .kg-gallery-container CSS class is required to use your theme with 2.0</h4>
      <div></div>
      </a>
      <p>The .kg-gallery-container CSS class is required to use your theme with 2.0. Find out more about required theme changes for the Koenig editor <a href="https://themes.ghost.org/docs/ghost-editor" target="_blank">here</a>.</p>
      <div>
        <h6>Affected files:</h6>
        <ul>
          <li>styles</li>
        </ul>
      </div>
    </li>
    <li><a href="http://localhost:2368/ghost/" data-ember-action="" data-ember-action-1245="1245">
      <h4>The .kg-gallery-row CSS class is required to use your theme with 2.0</h4>
      <div></div>
      </a>
      <p>The .kg-gallery-row CSS class is required to use your theme with 2.0. Find out more about required theme changes for the Koenig editor <a href="https://themes.ghost.org/docs/ghost-editor" target="_blank">here</a>.</p>
      <div>
        <h6>Affected files:</h6>
        <ul>
          <li>styles</li>
        </ul>
      </div>
    </li>
    <li><a href="http://localhost:2368/ghost/" data-ember-action="" data-ember-action-1248="1248">
      <h4>The .kg-gallery-image CSS class is required to use your theme with 2.0</h4>
      <div></div>
      </a>
      <p>The .kg-gallery-image CSS class is required to use your theme with 2.0. Find out more about required theme changes for the Koenig editor <a href="https://themes.ghost.org/docs/ghost-editor" target="_blank">here</a>.</p>
      <div>
        <h6>Affected files:</h6>
        <ul>
          <li>styles</li>
        </ul>
      </div>
    </li>
    <div>
      <h2>Warnings</h2>
    </div>
    <li><a href="http://localhost:2368/ghost/" data-ember-action="" data-ember-action-1251="1251">
      <h4>The helper {{ghost_head}} should be present</h4>
      <div></div>
      </a>
      <p>The {{ghost_head}} helper should be present in your theme. It outputs many useful things, such as <a href="https://help.ghost.org/hc/en-us/articles/223403488-Code-Injection" target="_blank">&quot;code injection&quot; scripts</a>, structured data, canonical links, meta description etc.<br />
        The helper belongs just before the  tag in your default.hbstemplate.<br />
        For more details, please see the <a href="https://themes.ghost.org/docs/ghost_head" target="_blank">{{ghost_head}} helper documentation</a>.</p>
      <div>
        <h6>Affected files:</h6>
        <ul>
          <li>default.hbs</li>
        </ul>
      </div>
    </li>
    <li><a href="http://localhost:2368/ghost/" data-ember-action="" data-ember-action-1254="1254">
      <h4>The helper {{ghost_foot}} should be present</h4>
      <div></div>
      </a>
      <p>The {{ghost_foot}} helper should be present in your theme. It outputs scripts as saved in <a href="https://help.ghost.org/hc/en-us/articles/223403488-Code-Injection" target="_blank">&quot;code injection&quot; scripts</a>.<br />
        The helper belongs just before the  tag in your default.hbstemplate.<br />
        For more details, please see the <a href="https://themes.ghost.org/docs/ghost_foot" target="_blank">{{ghost_foot}} helper documentation</a>.</p>
      <div>
        <h6>Affected files:</h6>
        <ul>
          <li>default.hbs</li>
        </ul>
      </div>
    </li>
  </ul>
</div>
</body>
</html>
