{{!< default}}
<!-- post loop -->
<section class="section">
	<div class="container">
		<div class="columns">
			{{#post}}

			<article class="{{post_class}} column is-four-fifths">
				<h2 class="is-size-2">{{title}}</h2>
				<section>
					{{content}}
				</section>
			</article>


			{{/post}}
		</div>
	</div>
</section>

