{{!< default}}
<!-- post hbs loop -->
<section class="section">
	<div class="container">
		{{#post}}

		<article class="{{post_class}}">
			<h2 class="is-size-2">{{title}}</h2>
			<section>
				{{content}}
			</section>
		</article>


		{{/post}}
	</div>
</section>

