/*****************

Mountain Man
A theme for ghost CMS.

By Alejandro Andrés Leal

Stylesheet Index

1. Web Fonts
2. Overrides
3. Local styles
4. Media Queries


******************/

/* 1. Web Fonts */

/* 
font-family: 'Alfa Slab One', cursive;
font-family: 'Open Sans', sans-serif;
*/



/* 2. Overrides */

h1, h2, h3, h4, h5 {

	font-family: 'Alfa Slab One',cursive;
}


a, a:active {
	color:#584545;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: 'Open Sans',sans-serif;
}

.hero.is-fullheight {
	min-height: 85vh;
}


/* 3. Local Styles */

.content {
  width: 70%;
  margin: 0 auto;
 }

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article img {
  display: block;
  max-width: 100%;
}

.kg-width-wide img {
  max-width: 85vw;
}

.kg-width-full img {
  max-width: 100vw;
}

article figure {
  margin: 0;
}

article figcaption {
  text-align: center;
}

body {
  margin: 0;
}


h1 {
  width: 100%;
}

.home-template a,
.navbar a {
	color:#0C0909;
	font-family:'Alfa Slab One',cursive;
}

.page-template .hero .navbar a {
	color: rgb(167,153,153);
}

.home-template .main-menu,
.hero .navbar {
	width:100%;
	font-size: 2rem;
}

.page-template .hero .navbar {
	width:auto;
	font-size:1.4rem;
}

.page-template h1.title {
	margin-bottom:0;
	line-height: 1.425;
}

.page-template .hero .navbar h1.title a {
	color:#0C0909;
	font-size:1.4rem;
	font-weight: 400;
}

.page-template .hero-body .container {
	border-bottom: 1px solid #584545;
}

.page-template .hero-body {
	padding-bottom:1rem;
}

.page-template .section {
	padding-top:1rem;
}

.home-template .main-menu li {
	width: calc(100% / 4);
}

#titleCard {
	border:0.1em solid #0C0909;
	padding:0;
	margin-top:6rem;
}

#titleCard hr {
	background-color:#0C0909;
	height:0.1em;
	margin:0;
	
}

#titleCard h1 {
	margin-bottom:0;
}

#titleCard h1,
#titleCard ul {
	padding:1.75rem 0;
}

#titleCard .tabs a {
	border:none;
	padding:0;
}

.tabs a:hover {
	color:#584545;
}

article.post h2 {
	color:#0C0909;
}

article.post p, 
article.page-template p {
	font-size: 0.89rem;
	line-height: 1.6rem;
}

.footer {
	background-color:inherit;
}


h2.subtitle {
	text-align: right;
}

.page-template h2.subtitle {
	padding-right:.75rem;
}

article.post p:not(first-chid), article.page-template p:not(first-child) {
	margin-top:1rem;
}

.kg-gallery-container {}

.kg-gallery-row {}

.kg-gallery-image {}


/* 4. Media Queries */

@media screen and (max-width: 768px) {
	
	.home-template #titleCard h1.is-size-1 {
		font-size:1.6rem!important; 
	}


	.home-template .main-menu {
		font-size:1.2rem;
	}

	#titleCard ul {
		padding:0.6rem 0;
	}

	.page-template .hero .navbar h1.title a {
		font-size:1.2rem;
	}

	.footer .column.is-offset-6 {
		margin-right:12%;
	}



}



